<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your offer was accepted!</h1>
    <p>Congratulations! Your offer on "<%= @request.title %>" was accepted.</p>
  </body>
</html>
