<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Offer Update</h1>
    <p>Your offer on "<%= @request.title %>" was not accepted.</p>
  </body>
</html>
